7 - RAG Agent attached with Pakistan Textile policy - Website.json
{
  "name": "7 - RAG Agent attached with Pakistan Textile policy - Website",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        304
      ],
      "id": "627e920e-8031-40a0-abf8-9c4d4add03c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1UYk0wIpzEzllFbhKxT92vmPRaL6SwUPk",
          "mode": "list",
          "cachedResultName": "Textiles-and-Apparel-Policy-2020-25.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1UYk0wIpzEzllFbhKxT92vmPRaL6SwUPk/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1456,
        288
      ],
      "id": "fe07608a-7e72-45e2-8c42-6f7ad5eda420",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TVC8EzVxSaah2fZM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1232,
        496
      ],
      "id": "93eaf4a2-d966-4ecb-aed2-2c475ea6a9bc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        496
      ],
      "id": "dafacc85-36e7-47cd-b0ac-c3afccb79b6b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tga5XXQBno6fRT4q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2736,
        112
      ],
      "id": "4289e847-f505-4dd4-a723-0f3c6842f9d6",
      "name": "When chat message received",
      "webhookId": "04c004fd-6319-4e23-a57f-3fb98bd37971"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2544,
        112
      ],
      "id": "7710964b-2c45-4a9c-ab96-323d82ca8bd1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2608,
        352
      ],
      "id": "0df1ab02-09f6-4e42-ba6f-b658dc73c1fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tga5XXQBno6fRT4q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve answer for query form chat input ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2256,
        400
      ],
      "id": "9a78e6fc-7a5d-4307-89d2-dc0fa4e57a9f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "0Cc3NikGEQD78KuP",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1f7q7ag27gAvEl3Hnf58ZLEtnYdFOuxL78Gry6fVqFno",
          "mode": "list",
          "cachedResultName": " 7 - Rag agent - save  answer / question ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f7q7ag27gAvEl3Hnf58ZLEtnYdFOuxL78Gry6fVqFno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f7q7ag27gAvEl3Hnf58ZLEtnYdFOuxL78Gry6fVqFno/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "User Question": "={{ $('When chat message received').item.json.chatInput }}",
            "Session ID": "={{ $('When chat message received').item.json.sessionId }}",
            "AI Answer": "={{ $json.output }}"
          },
          "matchingColumns": [
            "User Question"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User Question",
              "displayName": "User Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Answer",
              "displayName": "AI Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2064,
        112
      ],
      "id": "d9001047-c87e-4703-ae35-687f669e3fd7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AemTKxmw9HtnpyEP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1248,
        288
      ],
      "id": "3b2fefd5-5c2a-4710-a125-4109a0298a02",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "0Cc3NikGEQD78KuP",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1d733c6b-e9c6-468a-afed-077224427cc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e77f4497353d59c6fea5f7925bb8c62749f518d6f14410447c66a354df3a33b"
  },
  "id": "f1YfbuXmfk8F6V1J",
  "tags": []
}